body{
    background-color: #ccc;
}
.cor {
    width: 10px;
    height: 10px;
    border-color: black; 
    border-style: solid; 
    border-width: 1px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}
.azul {
    background-color: blue;
}
.branca {
    background-color: white;
}
.container_header, h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 8px;
    margin: 100px;
}
.btn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.resposta{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    
}
.container img{
    margin-left: 1300px;
    width: 150px;
    cursor: pointer;
}
.container_header input{
    cursor: pointer;
}